* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    color: white;
    text-align: center;
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.378);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }

  .navbar h1 {
    font-size: 1.8em;
    color: white;
  }

  .container {
    max-width: 500px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.378);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-top: 100px; /* space for navbar */
  }

  p {
    margin-bottom: 20px;
    font-size: 1.2em;
  }

  .quote {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-style: italic;
  }

  .generate-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #ff512f;
    background: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.5s, color 0.5s;
  }

  .generate-btn:hover {
    background: #ff512f;
    color: white;
  }